body {
  margin: 0; 
  text-align: center;
}

h1{
  color: #FFAF45;
  font-size: 12rem;
  font-family: "Asar", serif;   
  font-style: normal;
  background-color: #673F69;
  margin-left: 20%;
  margin-right: 20%;
  padding:0;
  
}


.top-container{
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  background-image: url(./img/japan-night.jpg);
  background-size: contain;
  text-align: center;
  color: azure;
}

.middle-container{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #673F69;
  height: 100hv; 
}

.profile-pic {
  height: 300px;
  border-radius: 50%;
  border: 10px solid #FFAF45;
}

.middle-intro{
  color: #FFAF45;
  font-size: 2rem;
}

.middle-container p{
  margin-left: 400px;
  margin-right: 400px;
}

.skills{
  color: #FFAF45;
  font-size: 5rem;
}

.tech{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}